apiVersion: v1
metadata:
  name: {{ cluster.name }}
baseDomain: {{ cluster.baseDomain }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ machinePools.controlPlane.replicas }}
  platform:
{% if cloud.provider == 'Azure' %}
    azure:
      osDisk:
        diskSizeGB: {{ machinePools.controlPlane.disk.size }}
      type: {{ machinePools.controlPlane.machineType }}
{% elif cloud.provider == 'Google' %}
    gcp:
      type: {{ machinePools.controlPlane.machineType }}
{% elif cloud.provider == 'BareMetal' %}
    baremetal: {}
{% else %}
    aws:
      rootVolume:
        size: {{ machinePools.controlPlane.disk.size }}
        type: {{ machinePools.controlPlane.disk.type | default('gp3') }}
      type: {{ machinePools.controlPlane.machineType }}
{% endif %}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ machinePools.workers.replicas }}
  platform:
{% if cloud.provider == 'Azure' %}
    azure:
      osDisk:
        diskSizeGB: {{ machinePools.workers.disk.size }}
      type: {{ machinePools.workers.machineType }}
{% elif cloud.provider == 'Google' %}
    gcp:
      type: {{ machinePools.workers.machineType }}
{% elif cloud.provider == 'BareMetal' %}
    baremetal: {}
{% else %}
    aws:
      rootVolume:
        size: {{ machinePools.workers.disk.size }}
        type: {{ machinePools.workers.disk.type | default('gp3') }}
      type: {{ machinePools.workers.machineType }}
{% endif %}
networking:
  networkType: OVNKubernetes
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
{% if cloud.provider == 'BareMetal' %}
  - cidr: {{ baremetal.machineNetwork }}
{% else %}
  - cidr: 10.0.0.0/16
{% endif %}
  serviceNetwork:
  - 172.30.0.0/16
platform:
{% if cloud.provider == 'Google' %}
  gcp:
    projectID: {{ cloudConfig.gcp.projectID }}
    region: {{ cloud.region }}
{% elif cloud.provider == 'Azure' %}
  azure:
    cloudName: {{ cloudConfig.azure.cloudName | default('AzurePublicCloud')}}
    baseDomainResourceGroupName: {{ cloudConfig.azure.baseDomainResourceGroupName }}
    region: {{ cloud.region }}
{% elif cloud.provider == 'BareMetal' %}
  baremetal:
    apiVIPs:
{% for vip in baremetal.apiVIPs %}
      - {{ vip }}
{% endfor %}
    ingressVIPs:
{% for vip in baremetal.ingressVIPs %}
      - {{ vip }}
{% endfor %}
    provisioningNetwork: {{ baremetal.provisioningNetwork }}
    hosts:
{% for host in baremetal.hosts %}
      - name: {{ host.name }}
        role: {{ host.role }}
        bmc:
          address: {{ host.bmc.address }}
          username: {{ host.bmc.username | default('') }}
          password: {{ host.bmc.password | default('') }}
          disableCertificateVerification: {{ host.bmc.disableCertificateVerification | default(true) | lower }}
        bootMACAddress: "{{ host.bootMACAddress }}"
{% if host.rootDeviceHints is defined %}
        rootDeviceHints:
{% if host.rootDeviceHints.deviceName is defined %}
          deviceName: {{ host.rootDeviceHints.deviceName }}
{% endif %}
{% endif %}
{% endfor %}
{% else %}
  aws:
    region: {{ cloud.region }}
{% endif %}
pullSecret: "" # skip, hive will inject based on it's secrets
sshKey: |-
  {{ lookup('env', 'ssh_public_key') }}
